<div class="panel panel-default">
    <div class="panel-heading">
        Добавить запись 
    </div>
    <div class="panel-body">
        <form role="form" id="mainaddform" data-toggle="validator" novalidate="true">
            <div class="form-group ">
                <label>Кол-во умерших от БСК всего на текущую дату</label>
                <input class="form-control" type="number" data-error="Введите число"type="number" data-error="Введите число" id="input1" >
                <div class="help-block with-errors"></div>
                </div>
            
            
            <div class="well">
                        <h4>Из них </h4>
                <hr></hr>
                         <div class="form-group">
                <label>в стационаре</label>
                <input class="form-control" type="number" data-error="Введите число"id="input2" data-validation-regex-regex="a.*z" >
            
                </div>
                <div class="form-group">
                <label>на дому</label>
                <input class="form-control" type="number" data-error="Введите число"id="input3">
               
                </div>
                <div class="form-group">
                <label>в др. местах</label>
                <input class="form-control" type="number" data-error="Введите число"id="input4">
               
                </div>
            </div>
        <div class="well">
                        <h4>Из них </h4>
                <hr></hr>
                         <div class="form-group">
                <label>вскрыто ПАО</label>
                <input class="form-control" type="number" data-error="Введите число"id="input5">
            
                </div>
                <div class="form-group">
                <label>без вскрытия</label>
                <input class="form-control" type="number" data-error="Введите число"id="input6">
            </div>
        </div>
             <div class="well">
                        <h4>Первоначальная причина смерти, указанная в заключении патологоанатома </h4>
                <hr></hr>
                         <div class="form-group">
                <label>I 05_I 09</label>
                <input class="form-control" type="number" data-error="Введите число"id="input7">
                 <p class="help-block"> Хр.ревматические болезни сердца</p>
                </div>
            <div class='form-group'>
                <label>I 10_I 15</label><input class='form-control' type="number" data-error="Введите число" id="input9"><p class='help-block'> Артериальные гипертензии</p></div>
<div class='form-group'>
                <label>I 20_I 25</label><input class='form-control' type="number" data-error="Введите число" id="input10"><p class='help-block'> ИБС</p></div>
<div class='form-group'>
                <label>I 20.0- 20.9  </label><input class='form-control' type="number" data-error="Введите число" id="input11"><p class='help-block'> Стенокардии</p></div>
<div class='form-group'>
                <label>I 21_I 22</label><input class='form-control' type="number" data-error="Введите число" id="input12"><p class='help-block'> Инфаркт миокарда</p></div>
<div class='form-group'>
                <label>I 25.1, I 25.3 </label><input class='form-control' type="number" data-error="Введите число" id="input13"><p class='help-block'> Атеросклеротическая болезнь сердца</p></div>
<div class='form-group'>
                <label>I 26 </label><input class='form-control' type="number" data-error="Введите число" id="input14"><p class='help-block'> Тромбоэмболия</p></div>
<div class='form-group'>
                <label>I 30_I 49</label><input class='form-control' type="number" data-error="Введите число" id="input15"><p class='help-block'> Другие болезни сердца</p></div>
<div class='form-group'>
                <label>I 50-59 </label><input class='form-control' type="number" data-error="Введите число" id="input16"><p class='help-block'> Сердечная недостаточность</p></div>
<div class='form-group'>
                <label>I 60_I 69</label><input class='form-control' type="number" data-error="Введите число" id="input17"><p class='help-block'> ЦВБ</p></div>
<div class='form-group'>
                <label>I 60-64  </label><input class='form-control' type="number" data-error="Введите число" id="input18"><p class='help-block'> Инсульты</p></div>
<div class='form-group'>
                <label>I 70-99</label><input class='form-control' type="number" data-error="Введите число" id="input19"><p class='help-block'> Прочие</p></div>
    </div>
<div class="well">
                        <h4>Первоначальная причина смерти, указанная в свидетельстве, выданном без вскрытия </h4>
<div class='form-group'>
                <label>I 05_I 09</label><input class='form-control' type="number" data-error="Введите число" id="input20"><p class='help-block'> Хр.ревматические болезни сердца</p></div>
<div class='form-group'>
                <label>I 10_I 15</label><input class='form-control' type="number" data-error="Введите число" id="input21"><p class='help-block'> Артериальные гипертензии</p></div>
<div class='form-group'>
                <label>I 20_I 25</label><input class='form-control' type="number" data-error="Введите число" id="input22"><p class='help-block'> ИБС</p></div>
<div class='form-group'>
                <label>I 20.0- 20.9  </label><input class='form-control' type="number" data-error="Введите число" id="input23"><p class='help-block'> Стенокардии</p></div>
<div class='form-group'>
                <label>I 21_I 22</label><input class='form-control' type="number" data-error="Введите число" id="input24"><p class='help-block'> Инфаркт миокарда</p></div>
<div class='form-group'>
                <label>I 25.1, I 25.3 </label><input class='form-control' type="number" data-error="Введите число" id="input25"><p class='help-block'> Атероклеротическая болезнь сердца</p></div>
<div class='form-group'>
                <label>I 26 </label><input class='form-control' type="number" data-error="Введите число" id="input26"><p class='help-block'> Тромбоэмболия</p></div>
<div class='form-group'>
                <label>I 30_I 49</label><input class='form-control' type="number" data-error="Введите число" id="input27"><p class='help-block'> Другие болезни сердца</p></div>
<div class='form-group'>
                <label>I 50-59 </label><input class='form-control' type="number" data-error="Введите число" id="input28"><p class='help-block'> Сердечная недостаточность</p></div>
<div class='form-group'>
                <label>I 60_I 69</label><input class='form-control' type="number" data-error="Введите число" id="input29"><p class='help-block'> ЦВБ</p></div>
<div class='form-group'>
                <label>I 60-64  </label><input class='form-control' type="number" data-error="Введите число" id="input30"><p class='help-block'> Инсульты</p></div>
<div class='form-group'>
                <label>I 70-99</label><input class='form-control' type="number" data-error="Введите число" id="input31"><p class='help-block'> Прочие</p></div>
    </div>
<div class='form-group'>
                <label>R 54</label><input class='form-control' type="number" data-error="Введите число" id="input32"><p class='help-block'> Старость</p></div>
<div class='form-group'>
                <label>Введено в Парус свидетельств, умерших от БСК</label><input class='form-control' type="number" data-error="Введите число" id="input33"><p class='help-block'> </p></div>

  
                
                </div>
 <div class="form-group ">
        <button type="button" class="btn btn-primary btn-block " id="saveform">Сохранить</button>
     </div>
        </form>
    </div>
</div>
