  
     
<div class="container">
        
             
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        
                        </div>
                        <div class="panel-body">
               <form role="form" id="mainaddform">
    <div class="form-group">
        <label>Выберите свое МО из списка</label>
        <select class="form-control" id="moname">
            <option>Абинский</option>
            <option>Анапа</option>
            <option>Апшеронский</option>
            <option>Армавир</option>
            <option>Белоглинский</option>
            <option>Белореченский</option>
            <option>Брюховецкий</option>
            <option>Выселковский</option>
            <option>Геленджик</option>
            <option>Горячий Ключ</option>
            <option>Гулькевичский</option>
            <option>Динской</option>
            <option>Ейский</option>
            <option>Кавказский</option>
            <option>Калининский</option>
            <option>Каневской</option>
            <option>Кореновский</option>
            <option>Красноармейский</option>
            <option>Краснодар</option>
            <option>Крыловский</option>
            <option>Крымский</option>
            <option>Курганинский</option>
            <option>Кущевский</option>
            <option>Лабинский</option>
            <option>Ленинградский</option>
            <option>Мостовской</option>
            <option>Новокубанский</option>
            <option>Новопокровский</option>
            <option>Новороссийск</option>
            <option>Отрадненский</option>
            <option>Павловский</option>
            <option>Приморско-Ахтарский</option>
            <option>Северский</option>
            <option>Славянский</option>
            <option>Сочи</option>
            <option>Староминский</option>
            <option>Тбилисский</option>
            <option>Темрюкский</option>
            <option>Тимашевский</option>
            <option>Тихорецкий</option>
            <option>Туапсинский</option>
            <option>Успенский</option>
            <option>Усть-Лабинский</option>
            <option>Щербиновский</option>
        </select>
        </div>
     <div class="form-group">
        <button type="button" class="btn btn-primary " id="subminbtn">Перейти к вводу</button>
        
    </div>
                   </form>
               </div>
           </div>
        </div>