<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    Для работы с сайтом используйте  <a href='https://www.google.com/chrome/browser/desktop/index.html'>google chrome</a>

</div>
</body>
</html>
