<!doctype html>
<html lang="ru">
<head>
    <title>ГКУ "Медицина Кубани"</title>
    <!-- Load the script "js/main.js" as our entry point -->
   <!-- <script src="/jquery/dist/jquery.js"></script>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <!--<script src="/bootstrap/dist/js/bootstrap.js"></script>-->
    <link href="/select2/dist/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<!--    <script src="/select2/select2.min.js"></script>-->
    <script data-main="app/main" src="/requirejs/require.js"></script>

</head>
<body>
    <div id="container">
    </div>
</body>
</html>