<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ГКУ "Медицина Кубани"</title>

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-main="app/main.js" src="app/require.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class='container-fluid'>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='/logout'><span class='glyphicon glyphicon-lock'></span> Выход</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid logoHeader">
    <a title="Медицина Кубани" href="/">
        <img src="/img/logo.jpg" alt="Медицина Кубани">
    </a>

</div>
<div class="container loginForm">
</div>
</body>

</html>