body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.buttonpressed {
    color: #333;
    background-color: #90eb42;
    border-color: #adadad;
}
