<!DOCTYPE html>
<html>
<head>
    <title>Ежедневный мониторинг смертности от болезней системы кровообращения</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'/>
    <link rel='stylesheet' href='/bootstrapValidator/dist/css/bootstrapValidator.css'/>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/underscore/underscore.js"></script>
    <script src="/backbone/backbone.js"></script>
    <script src="/vow/vow.min.js"></script>
    <!--<script src="/jqBootstrapValidation/dist/jqBootstrapValidation-1.3.7.js"></script>-->
    <script src="/bootstrapValidator/dist/js/bootstrapValidator.js"></script>
    <script src="/moment/moment.js"></script>
    <script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!--<script src="/jquery-validation/dist/jquery.validate.js"-->

</head>
<body onload="startTime()" id="mainbody">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand " href="#">Ежедневный мониторинг смертности от болезней системы кровообращения</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">
                        <h5>
                            <div id="moname"><%= name%></div>
                        </h5>
                    </a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-brand" href="#">
                        <div id="clock"></div>
                    </a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="panel panel-default">
<div class="panel-heading">
    Добавить запись
</div>
<div class="panel-body">


<form id="mainaddform" class="form-horizontal" action="/deathmonitor" method="get"
      data-bv-message="Ошибка в заполнении формы"
      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
      >

<div class="form-group">
    <label class="col-lg-3 control-label">Мониторинг за</label>
    <div class='input-group date col-lg-3' id='date' data-date-format="DD.MM.YYYY">
        <input type='text' class="form-control" name="inputdate"
               data-bv-notempty="true"
               data-bv-notempty-message="Поле не заполнено"
                />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
</div>




<div class="form-group">
    <label class="col-lg-3 control-label " id="bskdate"></label>
    <div class="col-lg-3">
        <input  type="text"  class="form-control" name="gr2"
                data-bv-notempty="true"
                data-bv-notempty-message="Поле не заполнено"
                data-bv-integer="true"
                data-bv-integer-message="Вводяться только числа"/>
    </div>
</div>
<div class="row">
    <div class="well col-lg-3 col-md-offset-3 ">
        <h4>Из них </h4>

        <div class="form-group">
            <label class="col-lg-4 control-label">в стационаре</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="gr3"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">на дому</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="gr4"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">в др. местах</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="gr5"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
            </div>
        </div>



    </div>
</div>
<div class="row">
    <div class="well col-lg-3 col-md-offset-3 ">
        <h4>Из них </h4>
        <div class="form-group">
            <label class="col-lg-4 control-label">вскрыто ПАО</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="gr6"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">без вскрытия</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="gr7"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="col-lg-5" >Первоначальная причина смерти, указанная в заключении патологоанатома </h4>
</div>
<div class="row">
    <div class="well col-lg-5 col-md-offset-3 ">
        <div class="form-group">
            <label class="col-lg-5 control-label">Хр.ревматические болезни сердца</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr8"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 05_I 09</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label"> Артериальные гипертензии</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr9"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 10_I 15</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">ИБС</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr10"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 20_I 25</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Стенокардии</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr11"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 20.0- 20.9</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Инфаркт миокарда</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr12"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 21_I 22</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Атеросклеротическая болезнь сердца</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr13"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 25.1, I 25.3</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Тромбоэмболия</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr14"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 26 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Другие болезни сердца</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr15"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 30_I 49 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Сердечная недостаточность</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr16"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 50-I 59</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">ЦВБ</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr17"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 60_I 69 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Инсульты</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr18"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 60-I 64 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Прочие</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr19"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 70- I99 </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="col-lg-5" >Первоначальная причина смерти, указанная в свидетельстве, выданном без вскрытия </h4>
</div>
<div class="row">
    <div class="well col-lg-5 col-md-offset-3 ">
        <div class="form-group">
            <label class="col-lg-5 control-label">Хр.ревматические болезни сердца</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr20"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 05_I 09</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label"> Артериальные гипертензии</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr21"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 10_I 15</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">ИБС</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr22"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 20_I 25</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Стенокардии</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr23"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 20.0- 20.9</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Инфаркт миокарда</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr24"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 21_I 22</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Атеросклеротическая болезнь сердца</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr25"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block"> I 25.1, I 25.3</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Тромбоэмболия</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr26"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 26 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Другие болезни сердца</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr27"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 30_I 49 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Сердечная недостаточность</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr28"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 50-I 59</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">ЦВБ</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr29"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 60_I 69 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Инсульты</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr30"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 60-I 64 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Прочие</label>
            <div class="col-lg-7">
                <input type="text" class="form-control" name="gr31"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                       data-bv-integer="true"
                       data-bv-integer-message="Вводяться только числа"/>
                <p class="help-block">I 70- I99 </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-lg-3 control-label">старость</label>
        <div class="col-lg-3">
            <input  type="text"  class="form-control" name="gr32"
                    data-bv-notempty="true"
                    data-bv-notempty-message="Поле не заполнено"
                    data-bv-integer="true"
                    data-bv-integer-message="Вводяться только числа"/>
            <p class="help-block">R 54 </p>

        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Введено в Парус свидетельств, умерших от БСК</label>
        <div class="col-lg-3">
            <input  type="text"  class="form-control" name="gr33"
                    data-bv-notempty="true"
                    data-bv-notempty-message="Поле не заполнено"
                    data-bv-integer="true"
                    data-bv-integer-message="Вводяться только числа"/>


        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-9 col-lg-offset-3">
        <button type="submit" class="btn btn-primary" name="submitexit" >Сохранить и выйти</button>
        <button type="submit" class="btn btn-primary" name="submitcontinue">Сохранить и продолжить</button>
    </div>
</div>




</form>
</div>
</div>

<script>


    function startTime() {
        $("#clock").html(moment().format('DD.MM.YYYY, HH:mm:ss'));
        var t = setTimeout(function () {
            startTime()
        }, 500);
    }

</script>

<script src="/js/deathmonitor/model.js"></script>
</body>
</html>