<h4>Настройки</h4>
<div class="row">
    <table border="1" class="table table-responsive">
        <thead>
        <tr>
        <th>Мониторинг</th>
        <th>настройка</th>
        <th>значение</th>
        </tr>
        </thead>
        <tbody>
            <%
        if(this.collection)
                this.collection.models.forEach(function(st){
            var item = st.toJSON();
                console.log(item);
                 %><tr>
                <td><%=item.type%></td>
                <td>Включить проверку времени ввода данных</td>
                <td><div class="checkbox">
                    <label>
                        <input type="checkbox"<%
                            if(item.validateDate){
                                %>checked <%
                            }
                          %>>
                    </label>
                    </label>
                </div></td>
                 </tr><%

             })
               %>
        </tbody>
    </table>



</div>