<table class=" table table-hover table-bordered table-condensed">
<thead>
    <th>Дата</th>
    <th>МО</th>
</thead>
<tbody>
    <%
     var keys = _.keys(table);
        keys.forEach(function(key){
            table[key].forEach(function(mos){
                %><tr><td><%=key%></td><td><%=mos.mo%></td></tr><%
            })
        })
      %>

</tbody>

</table>