<form id="mainaddform" class="form-horizontal">

    <div class="row">
        <h4>Введите параметры</h4>

        <div class="form-group">
            <div id="err"></div>
            <label class="col-lg-3 control-label">На</label>
            <div class='input-group date col-lg-3'  data-date-format="DD.MM.YYYY" id="ofosvkrDateStart">
                <input type='text' class="form-control"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                        />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
            </div>
         </div>


        <div class="row">
            <button type="button" class="btn btn-primary col-lg-offset-5" name="submitBtn" id="ofosvkrreport">Загрузить</button>
            </div>
    </div>

</form>