<h4>Отчет о финансировании и освоении средств выделенных ГБУЗ на капитальный ремонт</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
<div class="panel panel-default ">

    <div class="panel-heading">
        Добавить запись
    </div>
    <div class="panel-body">
        <form id="mainaddform" class="form-horizontal" action="/mmo" method="get"
              data-bv-message="Ошибка в заполнении формы"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                >
<div class="row">
            <div class="form-group">
                <label class="col-lg-2 control-label">по состоянию на </label>

                <div class='input-group date col-lg-9' id="date" data-date-format="DD.MM.YYYY">
                    <input type='text' class="form-control" name="date" fieldName = "inputdate"
                           data-bv-notempty="true"
                           data-bv-notempty-message="Поле не заполнено"
                            />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
                </div>

            </div>
</div>
                    <% table.forEach(function(val){%>
            <div class="row">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><%=val.label%></label>

                        <div class="col-lg-8">
                            <table cellspacing="2" width="100%"><tr>
                                    <td>
                                        <%if(val.type=='date'){%>
                                        <div class='input-group date '  data-date-format="DD.MM.YYYY" >
                                            <input type = "text" class="form-control" name="dates[]" fieldName = '<%=val.name%>'

                                                    />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>


                                        <%} else {


                                        if(val.type =='textarea'){%>
                                        <textarea
                                               <%} else {%>
                                        <input type="text"
                                                <%}%>

                                               class="form-control" name='<%=val.name%>'
                                               <%if (val.type == 'number'){%>
                                               data-bv-integer="true"
                                               data-bv-integer="true"
                                               data-bv-integer-message="Вводяться только числа"
                                                <%}%>
                                                />
                                            <%}%>
                                    </td>

                                    <td>&nbsp&nbsp(Гр.<%=val.name.slice(2)%>)</td>
                                </tr></table>
                        </div>

                    </div>
            </div>
                    <% });%>


            <div class="row">
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary" name="submitexit" >Сохранить и выйти</button>
                    <button type="submit" class="btn btn-primary" name="submitcontinue" >Сохранить и ввести следующий объект</button>
                </div>
            </div>
</div>



        </form>
    </div>
    </div>
            </div>
    </div>
</div>