<div>
    <div class="row">
        <div class="col-md-7">
            <form id="mainaddform" class="form-horizontal" action="/main" method="get"
                  data-toggle="validator" role="form" data-disable="true">
                <div class="row">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Мониторинг</label>

                        <div class="col-xs-9 ">
                            <select class="form-control" id="monitoring" autofocus>

                                <option value="mpr">преждевременных родов</option>
                                <option value="mprPD">мероприятий по пренатальной диагностике</option>
                                <option value="deathm">ежедневный мониторинг смертности от болезней системы кровообращения</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">МО</label>

                        <div class="col-xs-9 ">
                            <select class="form-control" id="mo" autofocus>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">C</label>

                        <div class='input-group date col-xs-4' id="dateStart" data-date-format="DD.MM.YYYY">
                            <input type='text' class="form-control" name="inputdate"/>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">ПО</label>

                        <div class='input-group date col-xs-4' id="dateEnd" data-date-format="DD.MM.YYYY">
                            <input type='text' class="form-control" name="inputdate"/>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-9 col-xs-offset-3">
                        <button type="submit" class="btn btn-primary" name="submitexit">Вывести
                        </button>

                    </div>
                </div>
            </form>
        </div>

    </div>
    <br/>


    <div id="whoinput" class="container-fluid"></div>

</div>