<form id="mainaddform" class="form-horizontal">

    <div class="row">
        <div id="monitoringName">

        </div>
        <div class="row">
        <div class="form-group">
            <div id="err"></div>


                    <label  class="col-lg-3 control-label">Выберите район или город</label>
            <div class='form-group col-lg-9'>
                    <select class="form-control" id="moname" name="username" autofocus>
                        <%

                        users.forEach(function(user){
                               user.mo.forEach(function(mo){
                        %>
                        <option><%- mo.fullname%></option>
                        <%})});%>

                    </select>
                </div>
           </div>
            <div class="row">

            <label class="col-lg-3 control-label">С</label>
            <div class='input-group date col-lg-3'  data-date-format="DD.MM.YYYY" id="mprDateStart">
                <input type='text' class="form-control"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                        />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
            </div>
        </div></div>
        <div class="row">
            <div class="form-group">
            <div id="err"></div>
            <label class="col-lg-3 control-label"> по </label>
            <div class='input-group date col-lg-3'  data-date-format="DD.MM.YYYY" id="mprDateEnd">
                <input type='text' class="form-control"
                       data-bv-notempty="true"
                       data-bv-notempty-message="Поле не заполнено"
                        />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
            </div>
        </div></div>
        <div class="row">
            <button type="button" class="btn btn-primary col-lg-offset-3" name="submitBtn" id="mprreport">Загрузить по всем</button>
            <button type="button" class="btn btn-primary " name="submitBtn" id="mprone">Загрузить по МО</button>
            <button type="button" class="btn btn-primary " id="whoinput">Кто не ввел</button><br><br>
            </div>
        <div class="row">
            <div class="col-mk-5"> <div id="whoinputdiv"></div></div>

        </div>
    </div>

</form>