<!DOCTYPE html>
<html>
<head>
    <title>Администратор</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/underscore/underscore.js"></script>
    <script src="/backbone/backbone.js"></script>
    <script src="/vow/vow.min.js"></script>
    <script src="/bootstrapValidator/dist/js/bootstrapValidator.js"></script>
    <link rel='stylesheet' href='/bootstrapValidator/dist/css/bootstrapValidator.css'/>
    <script src="/moment/moment.js"></script>
    <script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/src/js/locales/bootstrap-datetimepicker.ru.js"></script>
    <link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body  id="mainbody">

<div class="row">
    <div class="well">
        <h4>Отчеты </h4>
        <div class="row">
            <div class="form-group col-lg-5">
                <button type="button" class="btn btn-default" id="ofosvkr">Отчет о финансировании и освоении средств выделенных ГБУЗ на капитальный ремонт</button>
            </div>
            <div class="container col-lg-5" id="adminForm"></div>
        </div>
    </div>
</div>


</div>
<script src="/js/loader.js"></script>
<script src="/js/mmo/mmoAdminModel.js"></script>

</body>
</html>